*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: white;
}

main {
    margin-top: 30px;
}

hgroup h2 {
    font-weight: 800;
    color: #0a4b8c;
}

hgroup h3 {
    font-weight: 600;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: black;
}

table th {
    background-color: #0a4b8c;
    font-weight: 600;
    color: white;
}


@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    table {
        font-size: 14px;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

}