*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}




/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 0;
    right: -600px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    transition: .3s ease;
    height: 100vh;
}


.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
    
}

.nav-bar {
    padding: 1rem;
    display: flex;
}

.logo {
    display: none;
}



/* ham menu */
.ham-menu {
    height: 40px;
    width: 30px;
    margin-left: auto;
    position: relative;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.ham-menu:hover {
    transform: scale(1.1); 
}

.ham-menu span {
    height: 4px; 
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    
}

.ham-menu-ul > li {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


body {
    font-family: 'Mulish', sans-serif;
    background: #f4f4f4;
    
}

main {
    margin-top: 30px;
}

section {
    margin-top: 3rem;
}

.header-wrapper {
    background: #073255;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: #ffffff;
}

hgroup h2 {
    font-weight: 800;
    color: #073255;
}

hgroup h3 {
    font-weight: 600;
    color:black;
}

h3 {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: black;
}

table th {
    background: #073255;
    font-weight: 600;
    color: white;
}

.logout-btn {
    background: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.4rem;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.logout-btn:hover {
    background: #d32f2f;
}

.profile {
    color: #073255;
    background-color: white;
}

.profile:hover {
    background-color: #555;
}

footer a {
    color: #073255;
    text-decoration: none;
}


@media (max-width: 768px) {

    .hamburger {
        display: block;
        
    }


    nav {
        display: none;
    }

    .logo {
        display: block;
        width: 10%;
    }

    .header-wrapper {
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 2rem;
        position: static;
        
    }

    section {
        margin-top: 0;
    }

    main {
        padding: 10px;
        display: flex;
       justify-content: center;
       align-items: center;
    }

    table {
        font-size: 14px;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    footer {
        text-align: center;
        padding: 20px 0;
    }

}
