*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: "Mulish", sans-serif;

}

.container {
    max-width: 1250px;
    margin: 0 auto;    
}

main {
    background-color: rgb(255, 250, 238);

}



/* HEADER */

header {
    padding-top: 1rem;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo > h2 {
    color: #073255;
    font-weight: 700;
}


.logo > img {
    width: 20%;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;

}

nav > a {
    text-decoration: none;
    color: #073255;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
}

.header-wrapper > h2 {
    color: #073255;
    letter-spacing: 3px;
    font-size: 2rem;
}

button {
    padding: 0.5rem 2rem;
    font-family: "Mulish", sans-serif;
    border: none;
    background: rgb(7, 50, 85);
    color: rgb(240, 231, 129);
    font-weight: 700;
    border-radius: 8px;
}

/* HERO */

.hero {
    margin-top: 4rem;
}

.hero-wrapper {
    display: flex;
}

.hero-left {
    width: 50%;
    color: #073255;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

}

.hero-right {
    width: 50%;
}

.hero-left > h2 {
    font-size: 48px;
    font-weight: 800;
    
}

.hero-left > ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.hero-left > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;

}


.hero-left > a > button {
    /* width: 76%; */
    padding: 0.8rem 4rem;
    font-size: 1.3rem;   
}

.univer-wrapper {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}


/* MIDDLE */

.middle {
    margin-top: 6rem;
}

.mid-wrapper {
    display: flex;
}

.mid-left {
    width: 50%;
}

.mid-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
}

.mid-right > h2 {
    font-size: 2.5rem;
    color: #073255;
    font-weight: 800;
}

.mid-right > h2 > span {
    color: rgb(255, 190, 48);
}

.mid-right > a > button {
    background-color: rgb(255, 225, 187);
    color: #073255;
    width: 70%;
    padding: 1rem 0.8rem;
    font-size: 1.05rem;
}




/* Bottom */


.bottom {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: column;
}

.card {
    width: 21.3rem;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.9rem;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.content {
    margin-top: 3rem;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

.matn2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    color: black;
}

.matn3 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    margin-top: 1rem;
    
}
.content > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #073255;
}

.matn4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;

}

.card > h2 > span {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    
}

.shartlar {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.shart {
    display: flex;
    gap: 1rem;
}

.card > button {
    margin-bottom: 2rem;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.bottom > h2 {
    font-size: 2.5rem;
    color: #073255;
    font-weight: 800;
}

/* FOOTER */

footer {
    background-color: rgb(249, 250, 252);
    margin-top: 5rem;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    color: #073255;
}


.footer-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-left > .logo > img {
    width: 10%;
}

.social {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 60%;
}

.social > a {
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 300;
    gap: 0.3rem;
}

.footer-right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-right > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.footer-right > ul > li > a {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: "Mulish", sans-serif;

}











@media (max-width: 768px) {
    nav {
        display: none;
    }

    .logo > h2 {
        display: none;
    }

    .hero-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-left, .hero-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-right > img {
        width: 70%;
    }

    .hero-left > h2 {
        font-size: 1.8rem;
        text-align: center;
       
    }

    .mid-wrapper {
        flex-direction: column;
    }

    .mid-left, .mid-right {
        width: 100%;
    }

    .mid-left > img {
        width: 70%;
    }

    .hero-left > ul {
        width: 70%;
    }

    .univer-wrapper {
        width: 70%;
    }
}