<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/style.css">
    <title>ENGLISH QUIZ</title>
</head>
<body>
    <main>

        <header>
            <div class="header-wrapper container">
                
                    <div class="logo">
                        <img src="/static/images/duo.svg" alt="">
                        <h2>english test</h2>
                    </div>

                    <nav>
                        <a href="/test-cover">Take Test</a>
                        <a href="/profile">Account</a>
                        <a href="/login"><button>Login</button></a>
                    </nav>
                    
            </div>
        </header>



        <div class="hero">
            <div class="hero-wrapper container">

                <div class="hero-left">
                    <h2>Certify your English anytime, anywhere</h2>

                    <ul>
                        <li><img src="/static/images/tortburchak-check.svg" alt=""> Test online, no appointment needed</li>
                        <li><img src="/static/images/tortburchak-check.svg" alt=""> Get results in 2 seconds</li>
                        <li><img src="/static/images/tortburchak-check.svg" alt=""> A fraction of the cost of other tests</li>
                    </ul>

                  <a href="/test-cover"><button>Practice Free</button></a> 
                </div>

                <div class="hero-right">
                    <img src="/static/images/bola.svg" alt="">
                </div>
            </div>    
        </div>

        <div class="univer">
            <div class="univer-wrapper container">
                <img src="/static/images/Toronto.svg" alt="">
                <img src="/static/images/Yale.svg" alt="">
                <img src="/static/images/London.svg" alt="">
                <img src="/static/images/nyu.svg" alt="">
                <img src="/static/images/Californiya.svg" alt="">
                <img src="/static/images/McGill.svg" alt="">
                <img src="/static/images/DALL·E 2025-03-24 22.04.04 - A minimalistic logo with a deep blue color (RGB_ 7, 50, 85) on a transparent background. The design should be simple and clean, suitable for a website.webp" alt="">
            </div>
        </div>
    </main>



        <div class="middle">
            <div class="mid-wrapper container">
                <div class="mid-left">
                    <img src="/static/images/uy.svg" alt="">
                </div>

                <div class="mid-right">
                <h2> Accepted by <span>5500+</span> institutions, including top US universities</h2> 
                <a href=""><button>View Institutions</button></a>
                </div>
            </div>
        </div>






        <div class="bottom container">

            <h2>Our Tests</h2>

            <div class="card-wrapper">

                <div class="card">
                    <div class="content">
                        <p class="matn2">B2, C1</p>
                        <h2>English</h2>
                        <p class="matn3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam</p>
                    </div>
        
                    <div class="shartlar">
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Get results in 2 seconds</p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Test online, no appointment </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Practice Free </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
                    </div>
        
                    <a href="/test-cover"><button>Learn More</button></a>
                </div>
        
                <div class="card">
                    <div class="content">
                        <p class="matn2">Pi, Algebra</p>
                        <h2>Math </h2>
                        <p class="matn3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam</p>
                    </div>
        
                    <div class="shartlar">
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
                    </div>
        
                    <button>Learn More</button>
                </div>


                <div class="card">
                    <div class="content">
                        <p class="matn2">Excel, Word</p>
                        <h2>C.Literacy</h2>
                        <p class="matn3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam</p>
                    </div>
        
                    <div class="shartlar">
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
                    </div>
        
                    <button>Learn More</button>
                </div>
            </div>
            
        
        </div>
            
    
        <footer>
            <div class="footer-wrapper container">
                <div class="footer-left">
                    <div class="logo">
                        <img src="/static/images/duo.svg" alt="">
                        <h2>english test</h2>
                       
                    </div>

                    <div class="social">
                        <a href=""><img src="/static/images/Youtube.svg" alt="">Youtube </a>
                        <a href=""><img src="/static/images/in.svg" alt="">Linkedln</a>
                        <a href=""><img src="/static/images/Twitter.svg" alt="">Twitter</a>
                        <a href=""><img src="/static/images/insta.svg" alt="">Instagram</a>

                    </div>

                    <p> ©Mahmud U. </p>
                </div>

                <div class="footer-right">
                    <ul>
                        <li>Taking a Test</li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Research</a></li>
                    </ul>

                    <ul>
                        <li>Test research</li>
                        <li><a href="">Test Scoring</a></li>
                        <li><a href="">Accest Program</a></li>
                        <li><a href="">Practice Free</a></li>
                        <li><a href="">Overview</a></li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Workout</a></li>
                    </ul>

                    <ul>
                        <li>Help & Support</li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Form</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
            </div>
        </footer>
    
</body>
</html>