<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/style.css">
    <title>ENGLISH QUIZ</title>
</head>
<body>
    <main>

        <header class="container">
            <div class="header-wrapper">
                <div class="logo logo1">
                    <img src="/static/images/duo.svg" alt="">
                    <h2>english test</h2>
                </div>

                <nav>
                    <a href="/test-cover">Take Test</a>
                    <a href="/profile">Profile</a>
                    <a href="/login"><button>Login</button></a>
                </nav>

                <div class="hamburger">
                    <nav class="off-screen-menu">
                        <ul class="ham-menu-ul">
                            <li><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z" /></svg><a href="/">Home</a></li>
                            <li><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-zoom-question"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /><path d="M10 13l0 .01" /><path d="M10 10a1.5 1.5 0 1 0 -1.14 -2.474" /></svg><a href="/test-cover">Test</a></li>
                            <li><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-scan"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 9a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /><path d="M8 16a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2" /></svg><a href="/profile">Profile</a></li>
                            <li> <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-crown"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z" /></svg><a href="/leaderboard">Leader Board</a></li>
                            <li> <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-login-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" /><path d="M3 12h13l-3 -3" /><path d="M13 15l3 -3" /></svg>     <a href="/login">Login</a></li>
                        </ul>
                    </nav>
                    <div class="ham-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>





        

        <div class="hero">
            <div class="hero-wrapper container">

                <div class="hero-left">
                    <h2>Certify your English anytime, anywhere</h2>

                    <ul>
                        <li><img src="/static/images/tortburchak-check.svg" alt=""> Test online, no appointment needed</li>
                        <li><img src="/static/images/tortburchak-check.svg" alt=""> Get results in 2 seconds</li>
                        <li><img src="/static/images/tortburchak-check.svg" alt=""> A fraction of the cost of other tests</li>
                    </ul>

                  <a href="/test-cover"><button>Practice Free</button></a> 
                </div>

                <div class="hero-right">
                    <img src="/static/images/bola.svg" alt="">
                </div>
            </div>    
        </div>

        <div class="univer">
            <div class="univer-wrapper container">
                <img src="/static/images/Toronto.svg" alt="">
                <img src="/static/images/Yale.svg" alt="">
                <img src="/static/images/London.svg" alt="">
                <img src="/static/images/nyu.svg" alt="">
                <img src="/static/images/Californiya.svg" alt="">
                <img src="/static/images/McGill.svg" alt="">
                <img src="/static/images/DALL·E 2025-03-24 22.04.04 - A minimalistic logo with a deep blue color (RGB_ 7, 50, 85) on a transparent background. The design should be simple and clean, suitable for a website.webp" alt="">
            </div>
        </div>
    </main>



        <div class="middle">
            <div class="mid-wrapper container">
                <div class="mid-left">
                    <img src="/static/images/uy.svg" alt="">
                </div>

                <div class="mid-right">
                <h2> Accepted by <span>5500+</span> institutions, including top US universities</h2> 
                <a href=""><button>View Institutions</button></a>
                </div>
            </div>
        </div>






        <div class="bottom container">

            <h2>Our Tests</h2>

            <div class="card-wrapper">

                <div class="card">
                    <div class="content">
                        <p class="matn2">B2, C1</p>
                        <h2>English</h2>
                        <p class="matn3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam</p>
                    </div>
        
                    <div class="shartlar">
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Get results in 2 seconds</p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Test online, no appointment </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Practice Free </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
                    </div>
        
                    <a href="/test-cover"><button>Learn More</button></a>
                </div>
        
                <div class="card">
                    <div class="content">
                        <p class="matn2">Pi, Algebra</p>
                        <h2>Math </h2>
                        <p class="matn3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam</p>
                    </div>
        
                    <div class="shartlar">
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
                    </div>
        
                    <button>Learn More</button>
                </div>


                <div class="card">
                    <div class="content">
                        <p class="matn2">Excel, Word</p>
                        <h2>C.Literacy</h2>
                        <p class="matn3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam</p>
                    </div>
        
                    <div class="shartlar">
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
        
                        <div class="shart">
                            <img src="/static/images/check.svg" alt="">
                            <p class="matn4">Lorem ipsum, dolor sit </p>
                        </div>
                    </div>
        
                    <button>Learn More</button>
                </div>
            </div>
            
        
        </div>
            
    
        <footer>
            <div class="footer-wrapper container">
                <div class="footer-left">
                    <div class="logo">
                        <img src="/static/images/duo.svg" alt="">
                        <h2>english test</h2>
                       
                    </div>

                    <div class="social">
                        <a href=""><img src="/static/images/Youtube.svg" alt="">Youtube </a>
                        <a href=""><img src="/static/images/in.svg" alt="">Linkedln</a>
                        <a href=""><img src="/static/images/Twitter.svg" alt="">Twitter</a>
                        <a href=""><img src="/static/images/insta.svg" alt="">Instagram</a>

                    </div>

                    <p> ©Mahmud U. </p>
                </div>

                <div class="footer-right">
                    <ul>
                        <li>Taking a Test</li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Research</a></li>
                    </ul>

                    <ul>
                        <li>Test research</li>
                        <li><a href="">Test Scoring</a></li>
                        <li><a href="">Accest Program</a></li>
                        <li><a href="">Practice Free</a></li>
                        <li><a href="">Overview</a></li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Workout</a></li>
                    </ul>

                    <ul>
                        <li>Help & Support</li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Form</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
            </div>
        </footer>
    


        
        <script src="/static/main.js"></script>
</body>
</html>