<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/register_style.css">
</head>
<body>
    <div class="logo">
        <img src="/static/images/duo.svg" alt="">
        <h2>english test</h2>
    </div>

    <main>
        <div class="left">

            <h2>Sign up for free, <br> unlimited practice!</h2>
            <ul>
                <li><img src="/static/images/kompyuter.svg" alt=""> Unlimited practice tests for free</li>
                <li><img src="/static/images/yorliq.svg" alt=""> Instant score estimate</li>
                <li><img src="/static/images/lampochka.svg" alt="">Tips on preparing for the test</li>
            </ul>
        </div>

        <div class="right">
            <div class="right-wrapper">
                <form action="/register" method="POST">
                        <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
                        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
                        <input type="text" id="username" name="username" placeholder="Username" required>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    
                    <button type="submit">Sign Up</button>
                </form>

                <p> <a class="policy" href="">By continuing, you agree to our Terms and Privacy Policy.</a></p> 
            </div>
           
            <a href="/login">Already have an account? Sign in </a>
        </div>

    </main>


</body>
</html>