<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/test-cover.css">
</head>
<body>
    <main>
        <h2>
            Take a free practice test and estimate your score
        </h2>

        <div class="middle">
            <div class="mid-left">
                <img src="/static/images/asosiy.svg" alt="">
            </div>
        

            <div class="mid-right">
                <ul>
                    <li><img src="/static/images/test-chek.svg" alt=""> See what the test is like *</li>
                    <li><img src="/static/images/test-chek.svg" alt="">  Practice takes around 45 minutes</li>
                    <li><img src="/static/images/test-chek.svg" alt=""> Get an official score estimate</li>
                </ul>
            </div>

        </div>

        <p>* The practice test may include question types and reminders that do not appear on the other tests.</p>

        <hr>

        <div class="test-button">
            <a href="/"><button class="cancel">Cancel</button></a>
            <a href="/test"><button>Take the test</button></a>
            
        </div>
    </main>

    
</body>
</html>