<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h2>{{ index }}-question</h2>
    <p>{{ question["question"] }}</p>

    <form action="/test" method="POST">
        <input type="radio" name="option" value="1" required> {{ question["option1"] }}<br>
        <input type="radio" name="option" value="2"> {{ question["option2"] }}<br>
        <input type="radio" name="option" value="3"> {{ question["option3"] }}<br>
        <input type="radio" name="option" value="4"> {{ question["option4"] }}<br>
        <button type="submit">Keyingi</button>
    </form>
</body>
</html>
